h1 {
  color: black;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-align: center;
}

img {
  width: 300px;
  display: block;
  margin: 10px auto 0 auto;
  padding: 1px;
  background: black;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 4px;
}

.star {
  font-size: 20px;
}
